<!-- in config.yaml|toml|etc set copyright to just a year, the start year of copyright

    i.e.
    copyright: 2020

    Will output 2020 - 2022 if this year is 2022

-->
{{ $c := .Site.Copyright }}
© {{ $c }}
{{ if ne $c (string now.Year)}} - {{ now.Year }}{{ end }}
<a href="{{ with $.Site.Params.siteCopyrightLink }}{{.}}{{else}}{{" #"}}{{end}}">
    {{ with $.Site.Params.siteCopyrightOwner }}
    {{ . }}
    {{ else }}
    CONFIG VALUE MISSING - set Params: siteCopyrightOwner
    {{ end }}
</a>