<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link 
    rel="preload" 
    as="style" 
    href="https://fonts.googleapis.com/css2?family=Source%20Sans%20Pro:ital,wght@0,400;0,700;1,400;1,700&family=Source%20Serif%20Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap"
>
<link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');"
    href="https://fonts.googleapis.com/css2?family=Source%20Sans%20Pro:ital,wght@0,400;0,700;1,400;1,700&family=Source%20Serif%20Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap"
>
<noscript>
    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Source%20Sans%20Pro:ital,wght@0,400;0,700;1,400;1,700&family=Source%20Serif%20Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        type="text/css"
    >
</noscript>
