<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ .Title }}</title>
	<meta name="description" content="{{ .Description }}">
	{{ partial "font-default.html" . -}}
	{{ partial "styles.html" . }}
	{{ partial "favicon.html" . }}
	{{ range .AlternativeOutputFormats -}}
		{{ printf `
		<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}
	{{ if or .Params.math .Site.Params.math -}}
		{{ partial "math.html" . -}}
	{{ end }}
	<script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
</head>