{{ define "main" }}
<section class="overflow-hidden">
  <div class="container px-6 mx-auto">

<p class="text-center text-sm uppercase tracking-wide">
planning &middot response &middot large scale ess &middot complex supports &middot liaison &amp public communications &middot policy
</p>
	  <span class="block py-8">
		<a class="" href="mailto:mike.watkins@solutionroute.ca">
		<!-- <img class="w-20 h-20 rounded-full mx-auto" 
		     src="/mike-greenvest-thumb.png" alt="Mike Watkins"> -->
		</a>
	  </span>

<h1 class="text-2xl font-medium mb-2 leading-tight tracking-tight">Are you an emergency management team or professional with 
  a temporary or emergency staffing problem? An ambitious new project?<br><br>I can <strong>help</strong>. <br><br></h1>
<div class="prose text-xl">
<h2 class="text-2xl mb-2 sm:text-3xl">Hello, I'm Mike Watkins.</h1>
<p>
  Add me to your team&mdash;at any point in the emergency
  management cycle. I'm an enthusiastic and versatile contributor with an
  approachable and supportive leadership style.
</p>

<p class="italic text-xl">Contact me at <a
			class="underline text-primary-700 dark:text-secondary-300"
			href="mailto:mike.watkins@solutionroute.ca">mike.watkins@solutionroute.ca</a>
		&mdash;&nbsp;let's&nbsp;talk.</p>
	<p>
   I'll bring years of solution-focused consulting and project management experience with  
   government and large organizations, and practical, on-the-ground learnings from leading response at 
   hundreds of incidents and extended deployments supporting local authority and provincial EOCs. 
  </p>

		<p class="italic">Available anywhere in British Columbia for contract assignments of any duration.</p>

    <p class="text-center">
    <span class="inline-flex text-xs font-medium uppercase p-1 tracking-widest 
                  rounded-full py-1 px-2
                  mr-1 
                  bg-orange-200 text-orange-800 border border-orange-300" >ESSD</span>
    <span class="inline-flex text-xs font-medium uppercase p-1 tracking-widest 
                  rounded-full py-1 px-2
                  mr-1 
                  bg-orange-200 text-orange-800 border border-orange-300" >OPS</span>
    <span class="inline-flex text-xs font-medium uppercase p-1 tracking-widest 
                  rounded-full py-1 px-2
                  mr-1 
                  bg-amber-200 text-amber-800 border border-amber-300" >LOG</span>
    <span class="inline-flex text-xs font-medium uppercase p-1 tracking-widest 
                  rounded-full py-1 px-2
                  mr-1 
                  bg-blue-200 text-blue-800 border border-blue-300" >PLN</span>
    <span class="inline-flex text-xs font-medium uppercase p-1 tracking-widest 
                  rounded-full py-1 px-2
                  mr-1 
                  bg-blue-200 text-blue-800 border border-blue-300" >APU</span>
    <span class="inline-flex text-xs font-medium uppercase p-1 tracking-widest 
                  rounded-full py-1 px-2
                  mr-1 
                  bg-red-200 text-red-800 border border-red-300" >INFO</span>
    <span class="inline-flex text-xs font-medium uppercase p-1 tracking-widest 
                  rounded-full py-1 px-2
                  mr-1 
                  bg-lime-200 text-lime-800 border border-lime-300" >Dir</span>
    </p>


		<p class="border-b border-primary-600 w-20 mx-auto my-2">&nbsp;&nbsp;&nbsp;</p>
</div>


    <!-- <div class="flex flex-wrap -m-12">
      <div class="p-12 md:w-1/2 flex flex-col items-start">
        <span class="inline-block py-1 px-2 rounded bg-secondary-700 text-white text-xs font-medium tracking-widest">CATEGORY</span>
        <h2 class="sm:text-3xl text-2xl title-font font-semibold tracking-tight text-neutral-600 mt-4 mb-4">Roof party normcore before they sold out, cornhole vape</h2>
        <p class="leading-relaxed mb-8 text-neutral-600">Live-edge letterpress cliche, salvia fanny pack humblebrag narwhal portland. VHS man braid palo santo hoodie brunch trust fund. Bitters hashtag waistcoat fashion axe chia unicorn. Plaid fixie chambray 90's, slow-carb etsy tumeric. Cray pug you probably haven't heard of them hexagon kickstarter craft beer pork chic.</p>
        <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
          <a class="text-primary-600 inline-flex items-center">Learn More
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
          <span class="text-neutral-400 mr-3 inline-flex items-center ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
            <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
              <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
              <circle cx="12" cy="12" r="3"></circle>
            </svg>1.2K
          </span>
          <span class="text-neutral-400 inline-flex items-center leading-none text-sm">
            <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
              <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
            </svg>6
          </span>
        </div>
{{ with $.Site.Params.displayAuthor }}
        <a class="inline-flex items-center">
          <img alt="blog" src="https://dummyimage.com/104x104" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
          <span class="flex-grow flex flex-col pl-4">
            <span class="title-font font-medium text-gray-900">Holden Caulfield</span>
            <span class="text-gray-400 text-xs tracking-widest mt-0.5">UI DEVELOPER</span>
          </span>
        </a>
{{ end }}
      </div>
      <div class="p-12 md:w-1/2 flex flex-col items-start Xtext-neutral-900">
        <span class="inline-block py-1 px-2 rounded bg-secondary-700 text-white text-xs font-medium tracking-widest">CATEGORY</span>
        <h2 class="sm:text-3xl text-2xl title-font font-bold tracking-tight text-neutral-600 mt-4 mb-4">Pinterest DIY dreamcatcher gentrify single-origin coffee</h2>
        <p class="leading-relaxed mb-8 text-neutral-600">Live-edge letterpress cliche, salvia fanny pack humblebrag narwhal portland. VHS man braid palo santo hoodie brunch trust fund. Bitters hashtag waistcoat fashion axe chia unicorn. Plaid fixie chambray 90's, slow-carb etsy tumeric.</p>
        <div class="flex items-center flex-wrap pb-4 mb-4 Xborder-b-2 Xborder-gray-100 mt-auto w-full">
          <a class="text-primary-600 inline-flex items-center">Learn More
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
          <span class="text-gray-400 mr-3 inline-flex items-center ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
            <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
              <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
              <circle cx="12" cy="12" r="3"></circle>
            </svg>1.2K
          </span>
          <span class="text-gray-400 inline-flex items-center leading-none text-sm">
            <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
              <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
            </svg>6
          </span>
        </div>
{{ with $.Site.Params.displayAuthor }}
        <a class="inline-flex items-center">
          <img alt="blog" src="https://dummyimage.com/103x103" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
          <span class="flex-grow flex flex-col pl-4">
            <span class="title-font font-medium text-gray-900">Alper Kamu</span>
            <span class="text-gray-400 text-xs tracking-widest mt-0.5">DESIGNER</span>
          </span>
        </a>
{{ end }}
      </div>
    </div> -->
  </div>
</section>
{{ end }}
